/* body {
    font-size: 20px;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 1rem 2rem;
}

.navbar .navbar-links {
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-links ul {
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

#ED661F

} */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    text-align: center;
    color: #fff;
    background: #000;
}

.navbar-logo {
    display: flex;
    flex: 2;
    color: black;
    font-family: Oleo Script;
}   

.navbar-logo h1 {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    margin-left: 4rem;
    font-family: 'Oleo Script', cursive;
}

.navbar-links {
    flex: 4;
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
}

.navbar-links ul {
    display: flex;
    flex-direction: row;
    color: #fff;

}

.navbar-links ul li {
    list-style: none;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-left: 2rem;
    transition: 0.5s ease;
}

.navbar-links ul li:hover{
    cursor: pointer;
    border-bottom: 3px solid #ED661F;
    color: #ED661F;
}

.navbar-links ul li.active {
    border-bottom: 3px solid #ED661F;
}

.navbar-login {
    /* flex: 1; */
    margin-right: 5rem;
}

.navbar-login a {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-right: 4rem;
    transition: 0.5s ease;
    border-bottom: none;
    text-decoration: none;
}

.navbar-login a:hover {
    color: #ED661F;
}

.navbar-login button {
    padding: 1rem;
    background-color: #ED661F;
    color: #fff;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: o.5s ease;
}

.navbar-login button:hover {
    background-color: #fff;
    color: #ED661F  ;
}


.header {
    background-image: url("../../image1.png");
    height: 100vh;
    background-position: center;
    width: 100%;
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
}

/* header section styling */

.header {
    display: flex;
    flex-direction: row;
}

.header .left-side {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
    flex: 2;
}

.header .left-side h1 {
    font-size: 4.5rem;
}

.header .left-side p {
    font-size: 2.5rem;
}
.header .left-side button {
    padding: 1rem;
    background-color: #ED661F;
    color: #fff;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 14rem;
    cursor: pointer;
    transition: o.5s ease;
}

.header .left-side button:hover {
    background-color: transparent;
    color: #ED661F  ;
    border: 2px solid #ED661F;
}

.header .right-side {
    flex: 3;
    margin: auto;
    align-items: center;justify-content: center;
}

.header .right-side img {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
}

/* Media queries for header section */
/* 
@media screen and (max-width: 950px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header .left-side p {
        padding-top: -1rem;
        margin-top: -1rem;
    }

    .header .right-side {
        /* padding-top: -1rem;
        margin-top: -1rem; */
 /*   }
}

@media screen and (max-width: 650px) {
    .header {
        margin-top: 2px;
    }

    .header .left-side h1 {
        font-size: 3rem;
        line-height: 48px;
        /* padding-top: -1rem;
        margin-top: -1rem; */
    

   /* .header .left-side p {
        font-size: 2rem;
    }
} */


.card {
    width: 55%;
    margin: auto;
    background: #fff;
    height: 120px;
    margin-top: -4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    font-weight: 500;
    text-align: center;
}

.card-left {
    margin-left: 3rem;
}

.card-right {
    margin-right: 3rem;
}

/* reasons section styling */

.reasons {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    padding: 3rem;
    flex: 0.8;
}

.content h2 {
    color: #000;
    font-size: 4rem;
    /* border-bottom: 3px solid #ED661F; */
    font-weight: 500;
}

.content > div {
    background: #ED661F;
    height: 3px;
    width: 150px;
    margin-top: -3rem;
}

.content p {
    font-size: 2rem;
    font-weight: lighter;
}

.image {
    flex: 1;
    margin-right: 1rem;
}

.image img {
    width: 100%;
    height: 100%;
}

/* media querries for different screen sizes */

/* @media screen and (max-width: 950px) {
    .reasons {
        display: flex;
        flex-direction: column;
    }
} */



.categories {
    display: flex;
    flex-direction: column;
}

.categories .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h1 {
    color: #000;
    font-size: 3.5rem;
    font-weight: 500;
}.intro > div {
    background: #ED661F;
    height: 3px;
    width: 150px;
    margin-top: -2rem;
}

.intro p {
    font-size: 1.8rem;
    font-weight: normal;
}

.categories-items {
    display: flex;
    flex-direction: column;
}

.items-popular {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    width: 98%;
    margin: auto;
    justify-content: center;
    gap: 6rem;
}

.items-carrots img {
    width: 250px;
    height: 250px;
}
.items-cereals img {
    width: 250px;
    height: 250px;
}

.items-fish img {
    width: 250px;
    height: 250px;
}
.items-sukuma img {
    width: 250px;
    height: 250px;
}

.items-head {
    font-size: 2rem;
    color: #000;
    margin-left: 9rem;
    width: 90%;
    margin-bottom: 0;
}

.items-head .demo {
    height: 3px;
    width: 110px;
    justify-content: flex-start;
    margin-left: 6rem;
    background: #ED661F;
}

.items-head h2 {
    font-size: 2rem;
    color: #000;
    margin-left: 6rem;
    margin-bottom: 0;
}

.items-popular h2 {
    font-size: 2rem;
    color: #000;
    margin-left: 6rem;
    margin-bottom: 2rem;
}

/* .items-popular .demo {
    height: 3px;
    width: 150px;
    justify-content: flex-start;
    margin-top: -2rem;
    background: #ED661F;
} */


.items-new {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    width: 98%;
    margin: auto;
    justify-content: center;
    gap: 6rem;
}

.items-chicken img {
    width: 250px;
    height: 250px;
}

.items-rice img {
    width: 250px;
    height: 250px;
}

.items-milk img {
    width: 250px;
    height: 250px;
}

.items-tomato img {
    width: 250px;
    height: 250px;
}

.categories a {
    font-size: 38px;
    justify-content: flex-end;
    margin-right: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
}

.categories .line {
    width: 80px;
    height: 4px;
    background: #ED661F;
    text-align: right;
    justify-content: flex-end;
    margin-left: 1750px;
}

.horizontal {
    width: 65%;
    margin: auto;
    background: whitesmoke;
    border-top: 1px solid gray;
    height: 16px;
    border-radius: 3px;
}

.reviews h1 {
    color: #000;
    margin-left: 4rem;
    font-size: 3rem;
}

.blog {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    gap: 4rem;
}


.blog .blog-1 i  {
    font-size: 100px;
    margin-left: 4rem;
    color: #ED661F;
}

.blog .blog-1 {
    width: 400px;
    background: whitesmoke;
    border-radius: 6px;
    border: 2px solid rgb(151, 149, 149);
    border-top: 1px solid #fff;
}